
.icon-info:before { content: '\e800'; } /* '' */
.icon-stats:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-back:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-dot:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-save:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-left-circle:before { content: '\e80b'; } /* '' */
.icon-right-circle:before { content: '\e80c'; } /* '' */
.icon-trash:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-check-true:before { content: '\e80f'; } /* '' */
.icon-install:before { content: '\e810'; } /* '' */
.icon-update:before { content: '\e811'; } /* '' */
.icon-check-false:before { content: '\f096'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-circle:before { content: '\f192'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
