body {
  font-family: Arial, sans-serif;
}

[data-page]{
    position:absolute; /* or absolute if the content exceeds the height of the page */
    width: 100%;
    min-height: 100vh;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
    z-index: 10;
}

[data-page].active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.todo-item,
.done-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.done-item {
  background-color: #f1f1f1;
}

.remove-btn,
.add-btn {
  cursor: pointer;
}

/* .container { */
/*   text-align: center; */
/* } */

/* CSS for making the button right-aligned */
.item-buttons {
  text-align: right;
}

/* CSS for making the item-text-td full width */
.item-text-td {
  text-align: left !important;
  width: 100%;
}

.tablinks {
  width: 100%;
}

ul#tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#tabs li {
  flex-grow: 1;
  text-align: center;
}

.about {
  text-align: left;
}

.big-logo {
  text-align: center;
}

button {
  /* padding: unset !important; */
  /* all: unset !important; */
  /* box-shadow: unset !important; */
}

.button.is-success {
    background-color: #2ecc71 !important;
    color: #fff !important;
}

/* .rs-sign-in-form input[type=text] { */
/*   padding: unset !important; */
/*  height: unset !important; */
/* } */

.input, .select select, .textarea {
    background-color: #fff !important;
    border-color: #dee2e5 !important;
    border-radius: .4em !important;
    /* color: inherit !important; */
    padding: calc(.5em - 1px) calc(.75em - 1px) !important;
}

.rs-widget {
  border-radius: unset !important;
  position: unset !important;
  background-color: unset !important;
  max-width: unset !important;
  padding: unset !important;
  margin: unset !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-size: unset !important;
  box-shadow: unset !important;
  color: unset !important;
  * {
    font-size: unset !important;
  }
}

.rs-content {
  padding: unset !important;
}

.rs-content button {
  border-radius: 0.4em !important;
  padding: unset !important;
}

/* #remotestorage-widget-anchor input { */
/*   padding: initial !important; */
/*   /\* all: unset !important; *\/ */
/*   /\* box-shadow: unset !important; *\/ */
/* } */

/* #remotestorage-widget input[type=text] { */
/*   height: initial !important; */
/* } */

#new-item-input::placeholder {
  color: #888; /* change color to red */
  font-style: italic; /* make text italic */
}

#rs-form {
  padding: 0.5em !important;
}

.item-button {
  margin-left: 0.5em;
}

table {
  border-radius: 0.4em !important;
}

table td {
  vertical-align: middle !important;
}

.content table td, .content table th, .table td, .table th {
    border: unset !important;
    border-width: 0 !important;
    /* padding: .5em .75em; */
    /* vertical-align: top; */
}

.item-row th {
  border-width: 1px !important;
}

table#todo-list {
  border-collapse: separate !important;
}

table.item-list tr:not(:last-child) td {
  border-bottom: 1px solid #000 !important;
}

.navbar .navbar-menu {
  border-bottom: 1px solid #375a7f !important;
  border-radius: 0 !important;
}

.notification.undo-delete {
  position: absolute;
  z-index: 100;
  top:80%;left:80%;transform:translate(-50%);
  display: none;
}

span.countdown {
  display: inline-block;
  width: 2em;
  text-align: center;
}

.buttons {
  margin-bottom: 0 !important;
}

.active-link {
    color: #1abc9c !important; /* replace with your desired color */
}
